# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Exclude documentation files
*.md
!README.md

# Exclude local configuration files
config.json
